In [66]:
"""
New Zealand vehicle fleet open source data at:
https://nzta.govt.nz/resources/new-zealand-motor-vehicle-register-statistics/new-zealand-vehicle-fleet-open-data-sets/
and
https://nzta.govt.nz/assets/resources/new-zealand-vehicle-fleet-open-data-sets/OpenMVR-Question-and-answers-201808.pdf
"""
import pandas as pd
import zipfile

In [67]:
makes = "audi,bmw,ford,holden,honda,hyundai,kia,lexus,mazda,mercedes-benz,mitsubishi,nissan,subaru,"
makes += "suzuki,toyota,volkswagen"
makes = makes.upper()
makes = makes.split(",")
print(makes)

['AUDI', 'BMW', 'FORD', 'HOLDEN', 'HONDA', 'HYUNDAI', 'KIA', 'LEXUS', 'MAZDA', 'MERCEDES-BENZ', 'MITSUBISHI', 'NISSAN', 'SUBARU', 'SUZUKI', 'TOYOTA', 'VOLKSWAGEN']

In [68]:
zf = zipfile.ZipFile("data/Fleet-data-all-vehicle-years.zip")

In [69]:
df = pd.read_csv(zf.open('Fleet-29Feb2020.csv'))

In [70]:
df_make_year = df[['MAKE', 'FIRST_NZ_REGISTRATION_YEAR']]

In [71]:
df_make_year.iloc[33]

MAKE                          NISSAN
FIRST_NZ_REGISTRATION_YEAR      2014
Name: 33, dtype: object

In [72]:
df_make_year.loc[33]

MAKE                          NISSAN
FIRST_NZ_REGISTRATION_YEAR      2014
Name: 33, dtype: object

In [73]:
a = df_make_year.loc[ 
        df_make_year['MAKE'].isin(makes)
]

In [74]:
b = a.loc[
    a['FIRST_NZ_REGISTRATION_YEAR'] >= 1995
]

In [75]:
b

               MAKE  FIRST_NZ_REGISTRATION_YEAR
2            HOLDEN                      2005.0
4            TOYOTA                      2011.0
5              FORD                      2012.0
6            HOLDEN                      2009.0
7        MITSUBISHI                      2017.0
...             ...                         ...
5381847      TOYOTA                      2017.0
5381848      SUZUKI                      2018.0
5381849      NISSAN                      2019.0
5381855      TOYOTA                      2013.0
5381856      TOYOTA                      2011.0

[3733105 rows x 2 columns]

In [76]:
c = b.loc[ (b.MAKE == 'TOYOTA') & (b.FIRST_NZ_REGISTRATION_YEAR == 2020) ].count()

In [77]:
c.MAKE

10192

In [78]:
meData = dict.fromkeys(makes)

In [79]:
for make in makes:
    numVehiclesInYear = []
    year = 0
    for year in range(1995,2021):
        #count is dataframe nt int
        count =  b.loc[ (b.MAKE == make) & (b.FIRST_NZ_REGISTRATION_YEAR == year) ].count()
        numVehiclesInYear.append((year, count.MAKE))
    meData[make] = numVehiclesInYear

In [80]:
meData['HONDA']

[(1995, 2484),
 (1996, 3947),
 (1997, 4690),
 (1998, 3807),
 (1999, 3688),
 (2000, 3784),
 (2001, 4570),
 (2002, 6460),
 (2003, 9125),
 (2004, 11144),
 (2005, 12828),
 (2006, 13325),
 (2007, 14276),
 (2008, 11954),
 (2009, 9111),
 (2010, 10990),
 (2011, 9882),
 (2012, 10560),
 (2013, 12891),
 (2014, 16476),
 (2015, 18769),
 (2016, 19373),
 (2017, 21133),
 (2018, 21318),
 (2019, 21630),
 (2020, 3387)]

In [84]:
with open("selected_nz_fleet.csv", 'w') as f:
    colNames ="Series Name,Make"
    for i in range(1995,2021):
        colNames += ","+str(i)
    f.write(colNames+"\n")
    for make in meData:
        f.write("Number of vehicles," + make + "," +
                ",".join(str(nums[1]) for nums in meData[make])+"\n"
               )